.label-padding {
    -fx-padding: 8px; /* Adjust the padding value as needed */
}
.background {
    -fx-background-color: #ebebeb;
}
.side_bar {
    -fx-background-color: #34495E;
    -fx-border-color: aliceblue;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
}
.inner_sidebar {
    -fx-background-color: #b3dbe6;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}
.sidebar_buttons {
    -fx-background-color: #34495E;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-margin: 10px 0;
    -fx-cursor: hand;
}
.background_buttons {
    -fx-background-color: #ebebeb;
    -fx-font-weight: bold;
}

.sidebar_buttons:hover {
    -fx-background-color: #3A539B;
}

.checkbox {
    -fx-font-weight: bold;
    /*niam-use-this.fxml */
}
.popup_background {
    -fx-background-color: rgb(98, 122, 143);
}
.centre {
    -fx-text-align: center;
}
.timer_go {
    -fx-background-color: #3ec17d;
    -fx-font-weight: bold;
}
.timer_pause {
    -fx-background-color: #eedc11;
    -fx-font-weight: bold;
}
.timer_stop {
    -fx-background-color: #f32d2c;
    -fx-font-weight: bold;
}
.reminder_button {
    -fx-background-color: #ebebeb;
}
.bar-chart {
    -fx-background-color: white;
    -fx-padding: 15px;
}

.bar-chart .chart-series-bar {
    -fx-bar-fill: linear-gradient(from 0% 0% to 0% 100%, #1e90ff, #87cefa); /* Gradient from dark blue to light blue */
}


.axis-label {
    -fx-font-size: 12px;
    -fx-font-family: 'Arial';
}

.chart-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.chart-legend {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
}

.bar-chart .chart-bar {
    -fx-bar-fill: #4682b4; /* Steel blue */
    -fx-background-radius: 5;
    -fx-background-insets: 0, 0, 1, 0;
}